# Ignoriraj virtualno okolje
venv/

# Ignoriraj Python začasne datoteke
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignoriraj Jupyter Notebook kontrolne točke
.ipynb_checkpoints/

# Izključi mape grafi_in_tabele in shranjevanje_strani
grafi_in_tabele/
shranjevanje_strani/

# Izključi vse .xlsx datoteke
*.xlsx

# Izključi vse .csv datoteke
*.csv

# Izključi vse .png datoteke
*.png
